<div class="container">
  @if (loading && imageLoading) {
  <div class="card" aria-hidden="true" style="width: 18rem">
    <div
      class="card-img-top placeholder"
      style="height: 180px; background-color: #e0e0e0"
    ></div>
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
      </p>
    </div>
  </div>
  } @if (!loading) {
  <div class="card" style="width: 18rem">
    @if (imageLoading) {
    <div
      class="card-img-top placeholder"
      style="height: 180px; background-color: #e0e0e0"
    ></div>
    }
    <img
      [src]="product?.image"
      class="card-img-top"
      alt="product"
      (load)="onImageLoad()"
    />
    <div class="card-body">
      <h4>${{ product?.price }}</h4>
      <h5 class="card-title">{{ product?.title }}</h5>
      <p class="card-text">{{ product?.description }}</p>
    </div>
  </div>
  }
</div>
