@if (loading) {
<h1>Loading....</h1>
} @if (!loading) {

  <div class="container">
  <h1>This is our products:</h1>
  <app-category-filter (categorySelected)="filterProductsByCategory($event)"></app-category-filter>
  <div class="row g-3">
    @for (product of productsList; track $index) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-3" style="width: 100%; height: 100%; margin-top: 2vw;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ product.image }}"
              class="img-fluid rounded-start"
              alt="product image"
              (click)="navegate(product.id)"
              style="cursor: pointer"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5
                class="card-title"
                (click)="navegate(product.id)"
                style="cursor: pointer"
              >
                {{ product.title }}
              </h5>
              <h5 class="card-title">${{ product.price }}</h5>
              <small class="text-body-secondary">
                <span
                  *ngFor="
                    let star of getStars(product.rating.rate);
                    let i = index
                  "
                  [ngClass]="{
                    'filled-star': i < product.rating.rate,
                    'empty-star': i >= product.rating.rate
                  }"
                >
                  ★
                </span>
                {{ product.rating.rate }} of 5.0
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
}
