<div class="contenedor">
  <header>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #b8001f !important"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="" (click)="onOption('home')">
          <img
            src="/assets/images/icons8-hot-sales-hours-100.png"
            alt="Icon"
            style="height: 30px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink=""
                [ngClass]="{ active: menuOption == 'home' }"
                (click)="onOption('home')"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="products"
                [ngClass]="{ active: menuOption == 'products' }"
                (click)="onOption('products')"
                >Products</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="contact"
                [ngClass]="{ active: menuOption == 'contact' }"
                (click)="onOption('contact')"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-dark pt-2">
   <p class="text-center">© 2021 - All rights reserved</p>
  </footer>
</div>
